<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.uhf">



    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="com.jf.uhf.UHFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
       >

        <activity
            android:name="com.jf.uhf.ConnectActivity"
            android:label="@string/app_name"

            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderAddress"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderIdentifier"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderFirmwareVersion"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderBarcode"

            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderGpio"

            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderBeeper"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderOutPower"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderAntenna"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderReturnLoss"

            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderAntDetector"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderMonza"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderRegion"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.setpage.PageReaderProfile"

            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageInventoryReal"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageInventoryBuffer"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageInventoryFast"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageInventoryReal6B"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageReaderBarcode"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageTagAccess"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.tagpage.PageTag6BAccess"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.MainActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.ConnectTcpIp"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.ConnectBlueTooth"

            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.jf.uhf.DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="orientation|locale|keyboardHidden" >
        </activity>

        <activity
            android:name="com.jf.uhf.ConnectRs232"
            android:windowSoftInputMode="adjustPan" >
        </activity>

    </application>

</manifest>